In [3]:
import pandas as pd
import os

### DataFrame da file Excel

In [10]:
df = pd.DataFrame()

# try:
#     df = pd.read_excel("utilities/MOCK_DATA.xlsx")
# except Exception as err: 
#    print(err)
# df

,id,first_name,last_name,email,gender,ip_address
0,1,Dania,Eusden,deusden0@comcast.net,Female,1.93.145.241
1,2,Hill,Braine,hbraine1@oakley.com,Male,138.252.125.93
2,3,Prentice,Swinnerton,pswinnerton2@google.fr,Male,113.244.169.150
3,4,Dorian,Wein,dwein3@chronoengine.com,Genderfluid,90.85.69.241
4,5,Cristal,Duckitt,cduckitt4@nyu.edu,Female,61.84.98.51
...,...,...,...,...,...,...
995,996,Hendrika,Gitting,hgittingrn@edublogs.org,Female,78.30.25.190
996,997,Stinky,Vedishchev,svedishchevro@uol.com.br,Male,133.224.101.76
997,998,Kendricks,Cosins,kcosinsrp@slate.com,Bigender,86.138.95.41
998,999,Magdaia,Geistbeck,mgeistbeckrq@creativecommons.org,Female,247.194.155.64
999,1000,Jason,Bernardi,jbernardirr@wikia.com,Male,191.112.66.192

Per questioni di formattazione ci potrebbero essere delle righe in testa al foglio che non contengono dati.
In questo caso le colonne del df avranno nome "Unnamed"

In [12]:
try:
    df = pd.read_excel("utilities/empty_rows.xlsx")
except Exception as err: 
   print(err)
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,id,first_name,last_name,email,gender,ip_address
1,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Dania,Eusden,deusden0@comcast.net,Female,1.93.145.241
3,2,Hill,Braine,hbraine1@oakley.com,Male,138.252.125.93
4,3,Prentice,Swinnerton,pswinnerton2@google.fr,Male,113.244.169.150
...,...,...,...,...,...,...
997,996,Hendrika,Gitting,hgittingrn@edublogs.org,Female,78.30.25.190
998,997,Stinky,Vedishchev,svedishchevro@uol.com.br,Male,133.224.101.76
999,998,Kendricks,Cosins,kcosinsrp@slate.com,Bigender,86.138.95.41
1000,999,Magdaia,Geistbeck,mgeistbeckrq@creativecommons.org,Female,247.194.155.64
1001,1000,Jason,Bernardi,jbernardirr@wikia.com,Male,191.112.66.192

Per rinominarle uso il metodo rename creando un dict da passare all'argomento columns del metodo.
Quindi:

1) recupero il nome attuale delle colonne 
2) recupe i nomi corretti delle colonne 
3) creo un dictionary 
4) uso il metodo rename

In [15]:
# colonne attuali 
col = df.columns
nuovi_nomi = df.iloc[0]
d = {old: new for old, new in zip(col, nuovi_nomi)}
df.rename(columns=d, inplace=True)
df

,id,first_name,last_name,email,gender,ip_address
0,id,first_name,last_name,email,gender,ip_address
1,NaN,NaN,NaN,NaN,NaN,NaN
2,1,Dania,Eusden,deusden0@comcast.net,Female,1.93.145.241
3,2,Hill,Braine,hbraine1@oakley.com,Male,138.252.125.93
4,3,Prentice,Swinnerton,pswinnerton2@google.fr,Male,113.244.169.150
...,...,...,...,...,...,...
997,996,Hendrika,Gitting,hgittingrn@edublogs.org,Female,78.30.25.190
998,997,Stinky,Vedishchev,svedishchevro@uol.com.br,Male,133.224.101.76
999,998,Kendricks,Cosins,kcosinsrp@slate.com,Bigender,86.138.95.41
1000,999,Magdaia,Geistbeck,mgeistbeckrq@creativecommons.org,Female,247.194.155.64
1001,1000,Jason,Bernardi,jbernardirr@wikia.com,Male,191.112.66.192